{
  "printWidth": 80,
  "endOfLine": "lf",
  "semi": true,
  "singleQuote": true,
  "importOrderCaseInsensitive": true,
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrder": [
    "^react(.*)$",
    "^next$",
    "^next/(.*)$",
    "^next-(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^@/(.*)$",
    "^[./]"
  ],
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ]
}
